{% set some_var1 = "Design proyectos.es " %}
{% set holygrailcssv = "1.8.65" %}
{% set primary = "#ff0000" %}
{% set items = proyectos %}

{% set direcciones = [
     {  calle: 'Calle', 
        codigopostal: 'codigopostal' ,
        ciudad: 'ciudad',
        email: 'info@empresa.com',
        link: 'https://holysite.com',
        telf: 'M:TEL'
}
]
%}



{% set legal = [
     {  calle: 'Calle', 
        codigopostal: 'codigopostal' ,
        ciudad: 'ciudad',
        email: 'info@empresa.com',
        link: 'https://empresa.com',
        telf: 'M:TEL'
}
]
%}
