<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="{{global.search_console}}" />
  <title>{{title}}</title>
  <meta name="robots" content="{{ metaRobots}}">
  <meta name="description" content="{{ metaDescription or eleventyComputed.metaDescription or metadata.description }}">
  <meta name="keywords" content="{{ metaKeywords or eleventyComputed.metaKeywords or metaKeywords.description }}">
  <link rel="icon" type="image/webp" href="" />
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="canonical" href="https://www.empresa.com{{ page.url | url }}">
  <meta property="og:site_name" content="empresa">
  <meta property="og:image" content="">
  <meta property="og:title" content="{{title}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.empresa.com">
  <meta property="og:description"
    content="{{ metaKeywords or eleventyComputed.metaKeywords or metaKeywords.description }}">
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer'
          ? '&l=' + l
          : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f
        .parentNode
        .insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{global.tag_manager}}');
  </script>
  <!-- End Google Tag Manager -->
</head>
<body class="contain  {% if page.url == '/' or page.url == '/about/' %}home{% endif %}" data-barba="wrapper"   >
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id= {{global.tag_manager}}" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="load-container">
    <div class="loading-screen"> 
      
            
       <h2 class="fluid-1-b mb-32  "   id="miParrafo"  >  </h2>      
         </div>
  </div>

  <div data-barba="container" data-barba-namespace="home" class="is-home ">
    {% include 'componentes/header.njk' %}
    <div class="cursor"></div>
    <div class="cursor-follow">   <img src="" alt="Cursor Image" id="image-to-load"></div>
        <div class="bg">
          
        <div class="bg-logo"> 
          
          <svg  class="bg-logo-svg" width="50px" height="50px"  viewBox="0 0 55 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="path1" d="M50.4 15.38C47.63 10.48 43.82 6.68 38.96 3.95C34.24 1.31 29.04 0 23.36 0H2.89C1.29 0 0 1.29 0 2.89V43.38H2.82C5.14 43.38 6.87 42.85 8.27 41.54C9.81 40.1 10.9 37.85 11.51 34.85L13.33 25.28V25.25L13.34 25.22C14.13 21.35 15.83 18.25 18.4 15.99C21.07 13.65 24.21 12.46 27.74 12.46C32.04 12.46 35.98 14.3 39.15 17.78C42.23 21.17 43.8 25.48 43.8 30.57C43.8 35.66 42.67 39.65 40.43 43.16C38.23 46.62 35.1 48.98 30.88 50.38C30.76 50.43 30.64 50.48 30.56 50.51C27.96 51.45 26.18 52.94 24.96 55.2C23.89 57.18 23.29 59.54 23.19 62.23C23.18 62.62 23.18 63.36 23.18 63.36C27.54 63.36 31.55 62.59 35.41 61.05C39.32 59.48 42.71 57.32 45.56 54.56C48.36 51.77 50.55 48.4 52.14 44.45C53.68 40.62 54.45 36.52 54.45 32.16V31.16C54.45 25.4 53.11 20.14 50.43 15.39L50.4 15.38Z" />
            <path  class="path2"  d="M20.55 52.81C22.42 49.36 25.22 47.12 28.84 45.8C28.93 45.77 29.1 45.69 29.19 45.66C32.09 44.72 34.48 43.17 36.2 40.47C37.92 37.77 38.78 34.47 38.78 30.57C38.78 26.67 37.66 23.6 35.43 21.15C33.2 18.69 30.63 17.47 27.72 17.47C25.43 17.47 23.42 18.23 21.68 19.75C19.94 21.27 18.79 23.43 18.23 26.22L16.41 35.82C15.59 39.9 14.01 43.02 11.68 45.2C9.35 47.38 6.39 48.47 2.82 48.47H1.09C0.49 48.47 0 48.96 0 49.56V62.27C0 62.87 0.49 63.36 1.09 63.36H17.09C17.69 63.36 18.16 62.88 18.17 62.28C18.27 58.71 19.07 55.56 20.55 52.82V52.81Z"/>
            </svg>
            
            
        
        </div>
        </div>
    <div data-scroll-container>
      <main class="container-color">{{ content | safe }}</main>
      {% include 'componentes/footer.njk' %}
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.css">
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js"></script>
  <script src=" https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js "></script>
  <script src="   https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js "></script>
  <script src=" https://cdn.jsdelivr.net/npm/@barba/core@2.9.7/dist/barba.umd.min.js "></script>
  <script type="module" src="/assets/js/index.js"></script> 
  <script type="module" src="/assets/js/form.js"></script>



  </script>
</body>
</html>