


<section data-scroll-section class="bg-light bg-img full-height ">

  <div class="container">
      <div class=" row height-media">
          <div class="col-xs-4 align-middle is-flex align-multi-center ">
              <div>
                  <a class=" link1" href=""> MENU QR </a>
                  <br>
                  <h2 class="fluid-160-b mb-20"> Qartum<br>
                  </h2>
                  <p class="p2"> MENU QR para restaurantes, acercamos el diseño profesional al sector de
                      la hosteleria. </p>
                      {{ subtitle }}
                      {{ image }}
                      {{ imagemini }}
                  <a class=" link1 hoverable" href="/"> SOLICITA INFORMACIÓN <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 14">
                          <polyline points="18 1 24 7 18 13" fill="none" stroke="#c93535" stroke-linecap="round" stroke-width="2"></polyline>
                          <line x1="1.71" y1="6.99" x2="23.87" y2="6.99" fill="none" stroke="#c93535" stroke-linecap="round" stroke-width="2"></line>
                      </svg> </a>
              </div>
          </div>
      </div>
  </div>

</section>



