


<section data-scroll class=" bg-img height-hero align-middle
">

  <div class="container front-section">
      <div class=" row height-media">
          <div class="col-xs-12 col-md-5 align-middle is-flex align-multi-center ">
                  <h2 class="fluid-160-b mb-32"> Qartum<br>
                  </h2>
                  <p class="p2"> MENU QR para restaurantes, acercamos el diseño profesional al sector de
                      la hosteleria. </p>
          </div>
          <div class= " col-xs-12 col-md-1"></div>
          <div class=" col-xs-12 col-md-6">
          
          </div>
      </div>
<div class="main-image">
    <img  src="{{ image }} " alt="">
</div>

  </div>

</section>



