

<section data-scroll class=" bg-img height-hero align-middle bg-dark has-light ">
  <div class="container-hero ">
    <div class=" row height-media front-section">
      <div class="col-xs-12 col-md-8 ">
        <h2 class="fluid-160-b mb-32"> {{title}}<br> </h2>  <br>
        <p class="fluid-64-b">{{subtitle}} </p>
      </div>


    </div>

  </div>
</section>