<article id="{{proyecto.id}}" class="mbr-64 " >

  
  <div class="row sm:text-center   ">
    <div class="col-xs-12 col-sm-6   ">
      <div data-aos="fade-right"  class="fade-right" >
          <div class="fluid-3-l numbers">
          {{proyectos.data.prename}}
        </div>
      </div>
      <div class="mb-16 ">
        <a href="{{ proyectos.url }}">
          <div class=" mb-16">
            <p data-aos="fade-up" data-aos-once="true"  data-aos-delay="400" class="fluid-100-b">{{proyectos.data.title}}
            </p>
          </div>
          <div class=" mbr-64">
            <p data-aos="fade-up" data-aos-once="true" data-aos-delay="500"  class="fluid-18-l">{{proyectos.data.descripcion}}
            </p>
          </div>
        </a>
        <div class="mb-24">
          <a data-aos="fade-up" data-aos-once="true"  data-aos-delay="600" class="link-line"  href="{{ proyectos.url }}">Ver PROYECTO </a>
        </div>
      </div>
    </div>


    <div class="col-xs-12  col-sm-6  pb-40">
      <div class="rat-16-9">
               <div class="rat-content">
     <img  class="rellax video-cover"  data-rellax-percentage="0.5" data-rellax-speed="1"
         src="{{proyectos.data.image}} " alt="">       
                   </div>
             </div>
   </div>
  </div>
</article>
