    <section class="popular ptr-120 pbr-120">
      <div class="video-wrap">
        <div class="video-inner">
          <!-- Video -->
          <video class="video-player" src="" poster="https://via.placeholder.com/800x500" preload="auto" controls>
            <source src="" type="video/mp4" />
            <p>Sorry, but your browser does not support this video format.</p>
          </video>
          <!-- Close button -->
          <button aria-label="cierre del video" class="btn action action--close">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="24px" height="24px" viewBox="0 0 24 24">
              <g stroke-width="1" transform="translate(0.5, 0.5)">
                <line fill="none" stroke="#212121" stroke-width="1" stroke-linecap="square" stroke-miterlimit="10"
                  x1="19" y1="5" x2="5" y2="19" stroke-linejoin="miter">
                </line>
                <line fill="none" stroke="#212121" stroke-width="1" stroke-linecap="square" stroke-miterlimit="10"
                  x1="19" y1="19" x2="5" y2="5" stroke-linejoin="miter">
                </line>
              </g>
            </svg>
          </button>
        </div>
      </div>



        <div class="swiper-header has-light  ">

            <div class="row w-100">
              <div class="col-xs-7 col-sm-6">
                <h3 class="fluid-4-l mb-24">Nuestros <br> pacientes felices</h3>
              </div>
              <div class="col-xs-5 col-sm-6">
                <div class="swiper-arrows">
                  <button class="swiper-prev" aria-label="Anterior slide">
                    <div> ←</div>
                  </button>
                  <button class="swiper-next" aria-label="Siguiente slide">
                    <div>→ </div>
                  </button>
                </div>
              </div>
            </div>

        </div>




      <!-- Slider main container -->
      <div class="ov-hidden">
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <!-- Slides -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4">
                <img width="100%" height="100%" src="https://source.unsplash.com/500x500?woman" alt="">
                <h4 class="slide-title">Category 1</h4>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerJoyrides.mp4">
                <img width="100%" height="100%" src="https://source.unsplash.com/500x500?woman??" alt="">
                <h4 class="slide-title">Category 2</h4>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerFun.mp4">
                <img width="100%" height="100%" src="https://source.unsplash.com/500x500?woman???" alt="">
                <h4 class="slide-title">Category 3</h4>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4">
                <img width="100%" height="100%" src="https://source.unsplash.com/500x500?woman?????" alt="">
                <h4 class="slide-title">Category 4</h4>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4">
                <img width="100%" height="100%" src="https://source.unsplash.com/500x500?woman????" alt="">
                <h4 class="slide-title">Category 5</h4>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4">
                <img width="100%" height="100%" src="https://source.unsplash.com/500x500?woman???" alt="">
                <h4 class="slide-title">Category 6</h4>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4">
                <img width="100%" height="100%" src="https://source.unsplash.com/500x500?woman??" alt="">
                <h4 class="slide-title">Category 7</h4>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4">
                <img width="100%" height="100%" src="https://source.unsplash.com/500x500?woman?" alt="">
                <h4 class="slide-title">Category 8</h4>
              </div>
            </div>
            <!-- Rest of the slides -->
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
          <!-- If we need scrollbar -->
        </div>
      </div>
      
    </section>