---
layout: base_inner.njk
page_title: about
---
{% set next = collections.blog | nextInCollection(page.fileSlug) %}
{% set previous = collections.blog | prevInCollection(page.fileSlug) %}


{% include "componentes/hero.njk" %}
<section  class="section bg-light front-section"  data-scroll>
  <div class="row mb-32">
    <div class="col-xs-12">
      <div class="text-block">
        <div class="fluid-4-b ">{{title1}} </div>
        <div class="p1">
{{description1}}
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-12">
      <div class="rat-2-1">
        <div class="rat-content text-center">
          <img src="{{image1}} " alt="Image description">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="pin"  data-scroll>
  <div class=" section  bg-light">
    <div class="row ">
      <div class="col-xs-12 col-sm-5">
        <div data-scroll data-scroll-sticky data-scroll-target="#pin" data-scroll-speed="3">
          <div class=" text-block   ">
            <div class="fluid-4-b pb-40 "> {{title2}}</div>
            <div class="p1 ">{{description2}} </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7 "> <img src=" {{imagelong}}" alt=""> </div>
    </div>
  </div>
</section>
<section class="front-section"  data-scroll>
  <div class="container-bleed has-light">
    <div class="row ">
      <div class="col-xs-12">
                    <img width="100%" src="{{image1}} " alt="{{image1}}">

      </div>
    </div>
  </div>
</section>
<section  class="height-lg bg-light section  front-section "  data-scroll>
  <div class="container-bleed   height-sm">
    <div class="row vertical-reveal-outer ">
      <div class="text-block-center vertical-reveal-inner">
        <div class="fluid-4-b ">{{description3}} </div>
      </div>
    </div>
  </div>
</section>