<article data-scroll data-scroll-id="{{proyectos.data.colors}} " id="{{proyectos.data.colors}}"
  data-scroll-call="pageColor" class="mbr-64 height-full-2  align-middle is-flex " >


  <div data-scroll  data-scroll-offset="55%,50%" data-scroll-class="opened"   data-scroll-repeat="false"  class="row w-100   ">
    <div class="col-xs-12 col-sm-3   ">
      <div data-scroll data-scroll-speed="2" class="front-section">
        <div class="fluid-3-l ">
          {{proyectos.data.prename}}
        </div>
        <div class="mb-16  front-section ">
          <a href="{{ proyectos.url }}">
            <div class="num"> 0{{ counter }} </div>
            <div class="fluid-3-b no-wrap text-capitalize"> {{proyectos.data.title}} </div>
            <div class="fluid-9-r mbr-32 mt-32">{{proyectos.data.descripcion}} </div>
            <div class="fluid-10-r"> Client: {{proyectos.data.descripcion}} </div>
        </div>
        </a>
        <div class="mb-24">
          <a class="link-line " href="{{ proyectos.url }}">Ver proyecto </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12  col-sm-9  pb-40">
      <div data-scroll="" data-scroll-offset="50%,50%" data-scroll-speed="0.2" class="rat-16-9">
        <div class="rat-content">
          <div class="img-wrap">
            <div class="img-inner" style="background-image: url('/assets/static/proyectos/{{proyectos.data.imagemini}}');">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</article>