---
layout: base.njk 


image: https://images.pexels.com/photos/1382731/pexels-photo-1382731.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
---

<div class="section  ">
  <div class="bg-dark has-light">{% include 'hero.njk' %}</div>

    <div class="bg-white front-section">
      <div class="container pt-64 pb-64  ">
        <ul role="list" class="list-clear flow">
          {%- for proyectos in collections.proyectos -%}
          {% include 'proyectos/proyectos-loop.njk' %}
          {%- endfor %}
        </ul>
      
        </div>
    </div>


</div>

{% include "banner.njk" %}