---
layout: base.njk
title: Blog
subtitle: Blog
permalink: /blog/
image: https://images.pexels.com/photos/1382731/pexels-photo-1382731.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
eleventyComputed:
  metaTitle: "Nuestro blog - Centre estètic Basté"
  metaDescription: "Centro de medicina estética y odontología avanzada en Sant Boi. Servicios de rejuvenecimiento facial, proyectos corporales, odontología integral y más. Equipo experto y tecnología vanguardista. ¡Visítanos hoy!"
  metaKeywords: "proyectos, ácido hialurónico, airflow, allonfour, botox, Body Sculpt, sedación consciente"
  metaRobots: "index, follow"
---
<div class="bg-dark has-light">{% include 'hero.njk' %}</div>

<div class="section front-section bg-light ">

  <div class="container ">

    

    <ul role="list" class="list-clear blog-section">
      {% for post in collections.post | reverse %}
        {% include 'blog/blog-loop.njk' %}
      {% endfor %}
    </ul>
  </div>
</div>
