---
layout: base_inner.njk
title: Blog
subtitle: Blog
permalink: /blog/
image: https://images.pexels.com/photos/1382731/pexels-photo-1382731.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
eleventyComputed:
  metaTitle: "metatitulo"
  metaDescription: "metadescripcion"
  metaKeywords: "keys"
  metaRobots: "index, follow"
---


  <div class="load-container">
    <div class="loading-screen"></div>
  </div>

<main data-barba="container"
    data-barba-namespace="interior" class="is-interior">
<div class="bg-dark has-light">{% include 'hero.njk' %}</div>

<div class="section front-section bg-light ">

  <div class="container ">

    

    <ul role="list" class="list-clear blog-section">
      {% for post in collections.post | reverse %}
        {% include 'blog/blog-loop.njk' %}
      {% endfor %}
    </ul>
  </div>
</div>
</main>