---
layout: base_inner.njk
page_title: about
---
{% import "_insert.njk" as insert %}
<section data-scroll data-scroll-offset="50%,50%" data-scroll-repeat="false"
  class=" height-full  bg-dark section ptr-64 pbr-64  front-section  align-middle ">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="fluid-3-b ">
        100% digitales desde 2001 </div>
    </div>
  </div>
</section>


<section data-scroll data-scroll-offset="50%,50%" data-scroll-repeat="false"
  class="  bg-dark  front-section   section ptr-64 pbr-64">
  <div class="row mb-32">
    <div class="col-xs-12 col-md-6">
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="fluid-5-b ">
        {% call insert.splitenpalabras('Trabajamos como puente entre programación y diseño a fin de crear proyectos **efectivos Y realistas enfocados en una **experiencia **digital **impactante. ','140') %} {% endcall %}
      </div>
    </div>
  </div>
</section>


<section data-scroll data-scroll-offset="50%,50%" data-scroll-repeat="false"
  class="  bg-dark  front-section   section ptr-64 pbr-64">
  <div class="row">

<div class="col-xs-12">
  <div class="mini-titulo pbr-32">QUE HACEMOS?</div>
</div>


    <div class="col-xs-12">
      <div class="column-timeline-wrap-about">
        {% call insert.timeline2('3D' ) %} {% endcall %}
        {% call insert.timeline2('DISEÑO' ) %} {% endcall %}
        {% call insert.timeline2('UX' ) %} {% endcall %}
        {% call insert.timeline2('LAYOUT' ) %} {% endcall %}
        {% call insert.timeline2('FORMACIÓN' ) %} {% endcall %}
      </div>
    </div>
  </div>
</section>