---
layout: base_inner.njk
---

{% include 'hero.njk' %}

<section class="gallery" data-scroll-section id="pin">
  <div class="container has-light">
    <div class="row">
      <div data-scroll data-scroll-sticky data-scroll-target="#pin" data-scroll-speed="3" class="col-xs-6">
        <div class="fluid-48-b ">dfhsdfuihdfuih</div>
      </div>
      <div class="col-xs-6"> <img src=" /assets/static/site.jpg" alt=""> </div>
    </div>
  </div>
  <div class="image-pop" id="one" data-scroll data-scroll-sticky data-scroll-target="#pin" data-scroll-speed="3">
    <img
      src="https://images.unsplash.com/photo-1499955085172-a104c9463ece?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
      alt="">
  </div>
</section>