---
layout: base.njk
permalink: /
title: Titulo
page_title: indiceee
eleventyComputed:
  title: Titular
  metaDescription: "descripcion"
  metaKeywords: "key"
  metaRobots: "index, follow"
---

<section class=" slide-section " data-scroll-offset="50%,50%" data-scroll data-scroll-call="pageColor" data-scroll-id="0 darkmode">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 has-light">
        <div data-scroll data-scroll-speed="2" class="height-full is-flex flex-column content-center ">
          <h1 class="fluid-160-b">
            Digital
            Strategy
  
          </h1>
          <h1 class="fluid-48-b">
            Ayudamos a las marcas con diseños
            convincentes y <b> persuasivos</b>.
          </h1>
        </div>
      </div>
      <div data-scroll data-scroll-offset="50%,50%" data-scroll-speed="0.2" class="col-xs-6">
        <img src="https://digitalstrategy.netlify.app/assets/images/solo2.png" alt="">
      </div>
    </div>
  </div>
</section>
<section data-scroll data-scroll-offset="50%,50%" data-scroll-class="opened" data-scroll-call="pageColor"
  data-scroll-id="0E0E11 darkmode" class=" has-light  front-section ptr-120 pbr-120">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div data-scroll data-scroll-speed="2" class="fluid-48-b">
          No hacemos webs, <br>
          creamos estrategias
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div data-scroll data-scroll-speed="2" class="fluid-32-l">
          Desarrollando estrategias desde el 2001, hemos tenido el privilegio de trabajar con más de 500 clientes en
          todo el mundo, incluidas start ups, pymes, grandes corporaciones y organizaciones gubernamentales . Con
          nuestra experiencia en la comprensión de la dinámica de la industria y la mentalidad de la audiencia
        </div>
      </div>
    </div>
  </div>
</section>
<section data-scroll data-scroll-offset="50%,50%" data-scroll-id="2 darkmode" data-scroll-call="pageColor" data-scroll-speed="2">
  <div class="container">
    <div class="row" >
      <div class="col-xs-12  col-sm-6">
        <div class="fluid-100-b pt-big pb-big">
          Nuestros
          Proyectos
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div role="list" class="list-clear flow ">
          {% for proyectos in collections.proyectos %}
          {% include 'proyectos/proyectos-loop.njk' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sectionPin" data-scroll data-scroll-offset="50%,50%">
  <div class="pin-wrap">
    <div class="panel">
      <div class="panel-img"> <img
          src="https://images.pexels.com/photos/3618545/pexels-photo-3618545.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=900"
          alt=""> </div>
      <div class="panel-text">
        <div data-scroll data-scroll-speed="2" class="fluid-48-b"> No hacemos webs </div>
        <div data-scroll data-scroll-speed="2" class="fluid-12-r"> No hacemos webs </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-img"> <img
          src="https://images.pexels.com/photos/3618545/pexels-photo-3618545.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=900"
          alt=""> </div>
      <div class="panel-text">
        <div data-scroll data-scroll-speed="2" class="fluid-48-b mb-32"> No hacemos webs </div>
        <div data-scroll data-scroll-speed="2" class="fluid-12-r"> No hacemos webs </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-img"> <img
          src="https://images.pexels.com/photos/3618545/pexels-photo-3618545.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=900"
          alt=""> </div>
      <div class="panel-text">
        <div data-scroll data-scroll-speed="2" class="fluid-48-b mb-32"> No hacemos webs </div>
        <div data-scroll data-scroll-speed="2" class="fluid-12-r"> No hacemos webs </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-img"> <img
          src="https://images.pexels.com/photos/3618545/pexels-photo-3618545.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=900"
          alt=""> </div>
      <div class="panel-text">
        <div data-scroll data-scroll-speed="2" class="fluid-48-b mb-32"> No hacemos webs </div>
        <div data-scroll data-scroll-speed="2" class="fluid-12-r"> No hacemos webs </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-img"> <img
          src="https://images.pexels.com/photos/3618545/pexels-photo-3618545.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=900"
          alt=""> </div>
      <div class="panel-text">
        <div data-scroll data-scroll-speed="2" class="fluid-48-b mb-32"> No hacemos webs </div>
        <div data-scroll data-scroll-speed="2" class="fluid-12-r"> No hacemos webs </div>
      </div>
    </div>
  </div>
</section>