.image-digital {
  opacity: 0;
    position: absolute;
    right: 5%;
    top: 20px;
    width: 65%;
    @media (min-width: 1280px) {
      right: 7em;
      top: 100px;
      width: 35%;
    }
  }

  .container-color {
    position: relative;
    z-index: 10;
    background-color: $c-black;
  }


  .text-digital{
    
  }
