{% import '_globals.njk' as globals %}
<footer id="footer" data-scroll data-scroll-direction="vertical" data-scroll-speed="-8" data-scroll-target="#footer"
  data-scroll-position="bottom" data-scroll-class="opened">
  <div class="footer bg-white ">
    <div class="footer-inner">
      <div class="height-full align-middle">
        <div class="section-footer w-100 is-flex flex-column content-sp-between">
          <div class="row">
            <div class="col-xs-12">
              <div class="fluid-3-r">
                <div class="out-">
                  <div class="in-"> Todo empieza con un<br></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 pb-64">
              <div class="fluid-2-b">
                <div class="out-">
                  <div class="in- d-inline-block"> hola!
                    <div class="hover-line"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-24 pb-24">
            <div class="col-xs-12  col-md-6">
              <ul class="list-clear">
                <li class="fluid-8-b"> Envianos un email </li>
                <li class="fluid-9-r"> info@digitalstrategy.es</li>
              </ul>
            </div>
            <div class="col-xs-12  col-md-6">
              <ul class="list-clear">
                <li class="fluid-8-b"> Síguenos</li>
                <li class="fluid-9-r"> Instagram Facebook Twitter </li>
              </ul>
            </div>
          </div>
          <div class="subfooter">
            <div class="row">
              <div class="col-xs-12  pt-16 pb-16 p1 "> Copyright 2022 X Development LLC. All rights reserved. </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>