



<div class="menu-gsap">


    <div class="openButton" id="miBoton">
  
      <span> </span>
      <span> </span>
      <span> </span>
  
    </div>
    <div id="menu-gsap-wrap"  class="menu-gsap-wrap">
  
      <nav>
        <ul>
            <li> <a   href="/">Home </a> </li>
            <li> <a   href="/about">About </a> </li>
            <li> <a   href="/proyectos">Proyectos </a> </li>
            <li> <a   href="/blog">Blog </a> </li>
            <li> <a   href="/contacta">Contacta </a> </li>
        </ul>
      </nav>
  
    </div>
