<div class="menu-gsap">
  <div class="openButton" id="miBoton">
    <span> </span>
    <span> </span>
    <span> </span>
  </div>
  <div id="menu-gsap-wrap" class="menu-gsap-wrap">
    <nav>
      <ul>
        <li> <a href="/" id="cambiarTextoBoton1">Home</a> </li>
        <li> <a href="/about" id="cambiarTextoBoton2">About</a> </li>
        <li> <a href="/proyectos" id="cambiarTextoBoton3">Proyectos</a> </li>
        <li> <a href="/blog" id="cambiarTextoBoton4">Blog</a> </li>
        <li> <a href="/contacta" id="cambiarTextoBoton5">Contacta</a> </li>
      </ul>
    </nav>
  </div>