<section data-scroll class=" bg-img height-hero align-middle bg-dark has-light ">
  <div class="container-hero ">
    <div class=" row height-media front-section-2">
      <div class="col-xs-12 col-md-5 ">
        <h2 class="fluid-3-b mb-32"> {{title}}<br> </h2>  <br>
        <p class="p2">{{subtitle}} </p>
      </div>
      <div class=" col-xs-12 col-md-1"></div>
      <div class=" col-xs-12 col-md-6">
      </div>
    </div>
    <div class="main-image">
      <img src="{{ imagemini }} " alt="">
    </div>
  </div>
</section>