.menu-gsap {

  .menu-open {
    .openButton {
      span {
        transform: rotate(45deg);
        transform-origin: top left;
        width: 26px;
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform-origin: bottom left;
          transform: rotate(-45deg);
        }
      }
    }
    #menu-gsap-wrap {
      opacity: 1;
    }
  }
  .openButton {
    top: 24px;

    right: 24px;

	  @media (min-width: $break-md) {
      right: 100px;
      top: 65px;
      }



    position: absolute;
    z-index: 60;
    width: 22px;
    height: 22px;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
    mix-blend-mode: difference;
    span {
      position: relative;
      z-index: 10;
      display: block;
      height: 2px;
      width: 22px;
      background-color: white;
      transition: all 0.2s ease;
      &:nth-child(2) {
        margin: 7px 0;
      }
    }
  }
  nav {
    position: absolute;
    color: white;
    font-size: clamp(1.875rem, 0.5357rem + 4vw, 7rem);
    line-height: 1.3;
    top: 100px;
    right: 100px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: right;
    }
    

  }
  #menu-gsap-wrap {
    position: fixed;
    z-index: 50;
    top: 0;
    left: -100vw; /* Inicialmente, la div estará fuera de la pantalla */
    width: 100%;
    height: 100%;
    background-color: #e0dcc0;
    opacity: 1; /* La hacemos visible al principio */
    pointer-events: auto; /* Habilita los eventos del puntero */
    transition: all 0.5s ease; /* Agregamos una transición de 0.5 segundos para suavizar el desplazamiento de izquierda a derecha */
  }
  .hidden-menu2 {
    left: -100vw; /* Aseguramos que la div esté fuera de la pantalla cuando tiene la clase 'hidden' */
  }
}

