$space-left: calc( ((100vw - 1280px) / 2) + 16px  );


.swiper {
  height: 400px;
}
.popular {
  position: relative;

  .swiper-slide {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), black);
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    will-change: tranform;
    &:hover {
      @media (min-width: 980px) {
        transform: scale(1.05);
      }
    }
  }

  .swiper-container {
    padding-left: 0;

    padding-top: 1.5em;
    padding-bottom: 4em;

    @media (min-width: 992px) {
      padding-left: $space-left;

    }
  }
  .slide-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;
    height: 0;
    padding-top: 125%;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    .slide-title {
      font-weight: 600;
      font-size: 1.125em;
      padding: 1.5em 1em 1.5em 1.5em;
      line-height: 1.1;
      color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      opacity: 0.65;
      transition: opacity 0.24s ease-out;
      will-change: opacity;
    }
  }
}
.swiper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  @media (min-width: 992px) {
    padding-left: $space-left;

  }
}
.swiper-header .swiper-arrows {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .swiper-prev,
  .swiper-next {
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
    font-size: 1.5em;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    border-radius: 50%;
    outline: none;
    font-weight: bold;
    transition: transform 0.25s ease, box-shadow 0.25s ease, opacity 0.25s ease,
      visibility 0.25s ease, background-color 0.25s ease;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: black;
      transform: translateY(-3px);
      box-shadow: 0 0.25em 1.25em hsla(265, 50%, 50%, 0.2);
    }
    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transform: scale(0.5);
      // display: none;
    }
    div {
      display: flex;
      line-height: 1;
      justify-content: center;
      align-items: center;
      margin-top: -4px;
    }
  }
  button+button {
    margin-left: 0.5em;
  }
}
.bottom {
  padding-bottom: 6em;
}

.ov-hidden{
  overflow: hidden;

}