@import "base/_fonts.scss";
@import "abstract/_setup.scss";
@import "_swiper.scss";
@import "../../../node_modules/holygrailcss/scss/style.scss";
@import "_animations.scss";
@import "_cursor.scss";

@import "_menu2.scss";
@import "_blog.scss";
@import "_video.scss";
@import "page/_interior.scss";
@import "_pinlateral.scss";
@import "_text-appear.scss";
@import "page/_home.scss";
@import "_update.scss";
$btn-radius: 50px;
$padding-global: 24px;
$header-mobile: 60px;
$header-desktop: 200px;


$color1: #fe5f5e;
$color2: #fd945e ;
$color3: #fdcf5f ;
$color4: #b4db9d ;
$color5: #abdaf4 ;
$color6: #dca4d5 ;


html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
}
.has-scroll-smooth body,
html.has-scroll-smooth {
  overflow: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.input,
.textarea,
.select select {
  background-color: transparent;
  border-color: #e3e3e3;
  color: #fff;
  max-width: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1;
}
ul.list-clear li {
  list-style: none;
  margin: 8px 0;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  z-index: 100;
  height: $header-mobile;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
  @media (min-width: $break-md) {
    padding-bottom: 0;
    height: 120px;
  }
}
.scrolled {
  header {
    background-color: $c-white;
    height: 90px;
    @media (min-width: $break-md) {
      height: 120px;
    }
    a {
      color: $c-black;
    }
    svg path {
      fill: $c-black;
    }
    .height-md {
      min-height: 150px;
    }
  }
  .header-top {
    height: 200px;
  }
}
.front-section {
  z-index: 12;
  position: relative;
}
.front-section-2 {
  z-index: 18;
  position: relative;
}
.flex-titles {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.logo {
  width: 100%;
  max-width: 90px;
  svg {
    width: 100%;
  }
  @media (min-width: $break-md) {
    width: 100%;
    max-width: 120px;
  }
}
.height-full-2 {
  @media (max-width: #{$break-sm - 1}) {
    min-height: 0;
    padding-top: 80px;
    padding-bottom: 70px;
  }
  @media (min-width: $break-sm) {
    min-height: 80vh;
  }
  @media (min-width: $break-md) {
    min-height: 100vh;
  }
}
[data-load-container] {
  perspective: 1px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}
.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;
}
.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: $c-accent;
  width: 0%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
}
.bg {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $c-accent;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;


}
.footer {
  color: $c-black;
  position: relative;
  z-index: 1;
  .hover-line {

    background-color: $bg-dark;

}
}
.pined {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.text-block {


  @media (min-width: $break-sm) {
    max-width: 300px;
    padding-bottom: 16em;
  }


}
.text-block-center {
  margin: 0 auto;
  max-width: 66em;
}
.vertical-reveal-inner.visible {
  animation: 1.5s verticalReveal 1 cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: both;
}
.vertical-reveal-outer {
  overflow: hidden;
}

[class*="anim-wrap-"] {
  overflow: hidden;
  position: relative;
}
[class*="anim-wrap"] .anim-text {
  position: absolute;
  left: 0;
}
.menu-desktop {
  color: white;
}
.container {
  padding-right: 24px;
  padding-left: 24px;
  margin-right: 0;
  margin-left: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
  @media (min-width: $break-sm) {
    padding-right: 7em;
    padding-left: 7em;
    width: 100%;
    max-width: 100%;
  }

}
.container-hero {
 padding-left: 24px;
 padding-right: 24px;
  margin-right: 0;
  margin-left: 0;
  position: relative;
  width: 100%;
  max-width: 100%;


  @media (min-width: $break-sm) {
    padding-right: 7em;
    padding-left: 7em;
    width: 100%;
    max-width: 100%;
  }
  @media (min-width: $break-md) {
    width: 100%;
    max-width: 100%;
  }
  @media (min-width: $break-lg) {
    width: 100%;
    max-width: 100%;
  }
}
.container-proyecto {
  padding: 0em 3em 4em 3em;
  margin-right: 0;
  margin-left: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
  @media (min-width: $break-sm) {
    padding-right: 19em;
    padding-left: 19em;
    width: 100%;
    max-width: 100%;
  }
  @media (min-width: $break-md) {
    width: 100%;
    max-width: 100%;
  }
  @media (min-width: $break-lg) {
    width: 100%;
    max-width: 100%;
  }
}
.height-full-rd {
  min-height: auto;
  @media (min-width: $break-md) {
    min-height: 100vh;
  }
}
.fluid-300-b {
  letter-spacing: -31px;
}
.loading-screen {
  h2 {
    filter: invert(1);
    opacity: 0.2;
  }
}
[class*="outtext-"] {
  overflow: hidden;
  position: relative;
}
[class*="outtext-"] .intext {
  position: absolute;
  left: 0;
}
.outtext-1,
.outtext-2 {
  height: 20vw;
  max-height: 170px;
}
@media (min-width: 1280px) {
}
.outtext-1 .intext,
.outtext-2 .intext {
  top: 170px;
}
.outtext-2 {
  top: -20px;
}
.outtext-3,
.outtext-4 {
  height: 25px;
}
.outtext-3 .intext,
.outtext-4 .intext {
  top: 50px;
}
@media (min-width: 1280px) {
  .outtext-1,
  .outtext-2 {
    height: 170px;
  }
  .outtext-3,
  .outtext-4 {
    height: 50px;
  }
  .outtext-5 {
    height: 170px;
  }
}
b,
.bold {
  @include font-bold;
  color: $c-accent;
}

.out- {
  overflow: hidden;
  position: relative;
  z-index: 10;
  width: 100%;
}
.in- {
  transform: translateY(100px);
  opacity: 0;
}
.flow {
  .out- {
    min-width: 50vw;
  }
}
#image-to-load {
  display: none;
}
.no-wrap {
  white-space: nowrap;
}
.link-line.has-light {
  background-image: linear-gradient(transparent calc(100% - 1px), #ffffff 10px);
}
.darkmode {
  transition: all ease 0.3s;
  color: #ffffff;
  .link-line {
    background-image: linear-gradient(
      transparent calc(100% - 1px),
      #ffffff 10px
    );
  }
  a {
    transition: all ease 0.3s;
    color: #ffffff;
  }
}
.lightmode {
  transition: all ease 0.3s;
  color: #000000;
  .link-line {
    background-image: linear-gradient(
      transparent calc(100% - 1px),
      #000000 10px
    );
  }
  a {
    transition: all ease 0.3s;
    color: #000000;
  }
}
.client-zone {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  figure {
    margin-bottom: 20px;
    width: 30%;
    min-width: 120px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    @media (min-width: $break-md) {
      margin-bottom: 160px;
    }
  }
  @media (max-width: $break-md) {
    figure:nth-child(3n + 1) {
      width: 33%;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    figure:nth-child(3n) {
      width: 33%;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }
  @media (min-width: $break-md) {
    margin-bottom: 160px;
    figure:nth-child(4n + 1) {
      width: 20%;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    figure:nth-child(4n) {
      width: 20%;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }
  .imglogo {
    width: 80px;
    height: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    transition: all 0.27s cubic-bezier(0.12, 0.51, 0.49, 0.88);
    transform: translate3d(0, 80px, 0);
    @media (min-width: $break-md) {
      width: 120px;
      height: 120px;
    }
  }
}
.opened .imglogo {
  opacity: 1;
  transform: translateZ(0);
}
.img-wrap,
.img-wrap .img-inner {
  width: 100%;
  height: 100%;
  background-position: 0 0;
  z-index: 5;
}
.img-wrap {
  background-size: initial;
}
.img-wrap .img-inner {
  position: absolute;
  right: 0;
  transform: translateY(100%);
  opacity: 0;
  background-size: cover;
}
.section-footer {
  position: relative;
  z-index: 9;
  @media screen and (max-width: 1000px) {
    padding: 6em 2.5em 4em 2.5em;
  }
  height: 100vh;
  padding: 8em 7em 0em 7em;
}
.hover-line {
  width: 0;
  height: 2px;
  background-color: #fff;
  margin-top: 10px;
  transition: 0.3s ease all;
  .opened & {
    transition-delay: 1.5s;
    width: 100%;
  }
}
.column-timeline-wrap {
  &:hover {
    color: #3f3f3f;
    transition: all 0.2s ease;
    .tag-btn {
      transition: all 0.2s ease;
      border: 1px solid #3f3f3f;
    }
  }
}

.column-timeline-wrap-about {
  &:hover {
    color: #3f3f3f;
    transition: all 0.2s ease;
    .tag-btn {
      transition: all 0.2s ease;
      border: 1px solid #3f3f3f;
    }
  }
}
.column-timeline {
  &:hover {
    color: #ffffff;
    .tag-btn {
      border: 1px solid #ffffff;
    }
  }
  .column-grid {
    width: 100%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: 0.25fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.2s ease;
    overflow: hidden;
    > div:nth-child(3) {
      text-align: end;
    }
  }
  .line-w {
    width: 100%;
    height: 1px;
    background-color: #8a8a8a;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    position: relative;
    &:after {
      left: 0;
      position: absolute;
      content: "";
      width: 0%;
      height: 1px;
      background-color: #fff;
      transition: 0.6s ease all;
    }
  }
  .column-img {
    width: 200px;
    margin-right: 16px;
    overflow: hidden;
    img {
      transition: 0.6s ease all;
      transform: scale(1.1);
      opacity: 0.2;
    }
  }
  .tag-btn {
    padding: 8px 8px;
    border: 1px solid #8a8a8a;
    display: inline-block;
    border-radius: 50px;
    min-width: 70px;
    text-align: center;
    margin-right: 8px;
    font-size: 12px;
  }
  &:hover {
    cursor: pointer;
    .line-w {
      position: relative;
      &:after {
        left: 0;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #fff;
      }
    }
  }
}
.link-line {
  color: $c-accent;
}
.c-accent {
  color: $c-accent;
  .darkmode & {
    color: $c-accent;
    background-image: linear-gradient(
      transparent calc(100% - 1px),
      $c-accent 10px
    );
  }
}
.boxer {
  width: 2vw;
  height: 2vw;
  background-color: $c-accent;
  position: absolute;
  right: -30px;
  border-radius: 50%;

}

.experiment-bg{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 260px;
  mix-blend-mode: overlay;
  opacity: .3;
}

.especial{
  position: relative;
  @media (max-width: $break-md) {
    padding-left:24px ;
  }

}

.is-interior{
  background-color: $bg-dark;
}

.mini-titulo{
  color: #535353;
  font-size: 15px;
  font-style: normal;
  line-height: 33.773px;
  letter-spacing: 13px;
  @include font-regular();
}




.bg-logo-svg{
  width: 70px;
  height: 70px;
  .path1{
    fill:$c-accent;
     stroke:#ffffff;
    stroke-dasharray: 280;
    stroke-dashoffset: 280;
    animation: punto 3s ease infinite alternate ;


  }

  .path2{
    fill:$c-accent;
     stroke:#ffffff;
    stroke-dasharray: 280;
    stroke-dashoffset: 280;
    animation: punto s ease infinite alternate ;
    animation-delay: 2s;

  }



}


@keyframes punto {
  from {
    stroke-dashoffset: 280;
        -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
  }
  to {
    stroke-dashoffset: 0;
  }
}